@import '../styles/variables.scss';
@import '../styles/materialSymbols.scss';

.week-container {
    @include default-border;
    box-sizing: border-box;
    width: 95%;
    background: $bg-primary;
    font-family: $font-primary;
    margin: auto;

    .week-view-grid {
        display: grid;
        grid-template-columns: 3fr repeat(7, 1fr);
    }

    .weekly-header {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: $item-padding;
        border-bottom: $border-primary;
        font-family: $font-primary;

        .weekly-left-right-buttons {
            margin-right: 42px;

            .chevron-left {
                height: 36px;
                width: 46px;
                border: $border-primary;
                background-color: $bg-primary;
                outline: none;
                border-bottom-left-radius: $border-radius-default;
                border-top-left-radius: $border-radius-default;

                &:hover {
                    cursor: pointer;
                }
            }

            .chevron-right {
                height: 36px;
                width: 46px;
                border: $border-primary;
                background-color: $bg-primary;
                outline: none;
                border-bottom-right-radius: $border-radius-default;
                border-top-right-radius: $border-radius-default;

                &:hover {
                    cursor: pointer;
                }
            }
        }

        .weekly-date-start {
            font-weight: $font-weight-bold;
            font-size: $font-size-large;
            padding-right: 10px;
        }

        .weekly-date-end {
            font-size: $font-size-large;
            padding-right: 10px;
        }
    }



    .weekly-subheader {
        // padding: $item-padding;
        padding-left: 38px;
        padding-top: 18px;
        padding-bottom: 18px;

        .weekly-subheader-title {
            font-weight: $font-weight-bold;
            font-size: $font-size-medium;
            align-self: center;
        }

        .center-item {
            margin-left: auto;
            margin-right: auto;

            .weekday-hours {
                font-weight: $font-weight-bold;

                &.weekday-hours-zero {
                    display: none;
                }
            }
        }
    }

    .add-project-container {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        border-top: $border-primary;
        padding: $item-padding;

        .add-project-items {
            display: flex;
            flex-direction: column;
            align-items: center;

            .add-project-client {
                color: $color-secondary;
                font-weight: $font-weight-bold;
                font-size: $font-size-medium;
            }

            .add-project-selections {
                border-top: $border-primary;
            }
        }
    }

    .client-container {
        // padding: $item-padding;
        padding-left: 38px;
        padding-top: 18px;
        padding-bottom: 18px;
        border-top: $border-primary;
        // background-color: #F9F9F9;

        .client-name {
            color: $color-secondary;
            font-weight: $font-weight-bold;
            font-size: $font-size-medium;
            // padding-top: 10px;
        }

        // .more-padding {
        //     padding-top: 10px;
        // }

        .project-item {
            font-weight: $font-weight-bold;
            font-size: $font-size-medium;
            padding-top: 20px;
            // padding-top: 15px;

            .project-item-title {
                align-self: center
            }

        }

        .stage-item {
            color: $button-color;
            font-weight: $font-weight-bold;
            font-size: $font-size-medium;
            padding-top: 10px;
        }

        .role-project-grid {
            display: grid;
            grid-template-columns: 3fr repeat(7, 1fr);
            height: 45px;
            width: 100%;
            align-items: center;

            &:hover {
                background-color: $highlight-color;
            }

            &:focus-within {
                background-color: $highlight-color;
            }

            // .gid-item {
            //     background-color: $highlight-color;
            // }

            .role-item {
                font-weight: $font-weight-bold;
                font-size: $font-size-medium;
                padding-left: 50px;
                background: $bg-primary;
                // background-color: #F9F9F9;
                height: 100%;
                display: flex;
                align-items: center;
            }

            .project-item-time {
                @include input;
                height: 25px;
                width: 55px;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}


.duration-item {
    position: relative;

    .hover-note {
        display: none;
        z-index: 100;

        textarea {
            border: none;
            font-family: $font-primary;
        }
    }

    @mixin note-active {
        // layout
        display: inline-block;
        position: absolute;
        max-width: 30em;

        top: 35px;
        left: 0px;

        // looks
        background-color: #fff;
        // padding: 1.125em 1.5em;
        padding: .3em .4em;
        font-size: 12px;
        border-radius: 1rem;
        box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
        max-width: 300px;

        &::before {
            // layout
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            bottom: 100%;
            left: 1.5em; // offset should move with padding of parent
            border: .75rem solid transparent;
            border-top: none;

            // looks
            border-bottom-color: #fff;
            filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, .1));
        }
    }

    &:hover>.hover-note {
        @include note-active;
    }

    &:focus-within>.hover-note {
        @include note-active;
    }
}