@import '../../styles/variables.scss';

.outer-buttons {
    display: flex;
    justify-content: flex-start;
    width: 80%;
    margin: auto;

    .add-project-button {
        background-color: $button-color;
        border-style: none;
        outline-style: none;
        font-size: 16px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        color: white;
        width: 106px;
        height: 36px;
        margin-bottom: 23px;
        margin-right: 20px;
        border-radius: 15px;

        &:hover {
            cursor: pointer;
        }
    }

    .edit-button {
        background-color: white;
        border: 1px solid $border-primary;
        outline-style: none;
        font-size: 16px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        color: #A0AFC4;
        width: 106px;
        height: 36px;
        margin-bottom: 23px;
        border-radius: 15px;

        &:hover {
            cursor: pointer;
        }
    }
}
