@import '@servicenow/sass-kit/host';
@import '../styles/variables.scss';

$btn-dimensions: 1.6rem;

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-variation-settings:
        'FILL'0,
        'wght'400,
        'GRAD'0,
        'opsz'48
}

.timer-button-container {
    display: flex;
    width: 200px;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.timer-container {
    @include flex-between-center;
    background: $bg-primary;
    border: $border-primary;

    /* Shadow */
    box-shadow: 2px 2px 7px 1px rgba(0, 0, 0, 0.05);
    border-radius: 12px;

    font-family: $font-primary;
    height: 37px;
    padding: $container-padding;
}

.timer-items-right {
    @include flex-between-center;
    margin-right: 1rem;
    width: 300px;

}

.timer-items-right>* {
    width: 25%;
    text-align: center;
}

.display-active {
    color: green;
    font-weight: 400;
    font-size: larger;
}

.display-inactive {
    // color: red;
    font-weight: 400;
    font-size: larger;
}

.display-rounded {
    color: lightgray;
    font-size: 1rem;
}

button {
    border-radius: 100%;
    width: $btn-dimensions;
    height: $btn-dimensions;
    padding: 0;
    border-width: .05rem;
}

.pill {
    border-radius: 50px;
    background-color: #F4F4F5;
    color: #9095A1;
    font-size: .6rem;
    padding: .3rem .5rem;
    font-weight: 600;
    text-align: center;
}

.btn-circle {
    @include flex-between-center;
    background-color: lightgreen;
    border-radius: 100%;
    width: $btn-dimensions;
    height: $btn-dimensions;
    border: 1px solid black;
    border-width: .05rem;
    box-sizing: content-box;
    box-shadow: none;
    transition: all .5s ease-out;

    &.active {
        background-color: lightcoral;
    }

    &:hover {
        box-shadow: 0px 0px .3rem gray;
        border-color: white;
        cursor: pointer;
    }

    * {
        margin: auto;
        width: fit-content
    }
}